table {
	margin: auto;
	width: 410px;
	border: #2f4f4f inset 5px;
	padding: 5px;
}
td{
	width: 10px; 
    height: 10px;
	border: groove 1px;
	padding:5 5 5 5px;
	text-align: center;
}

td.factor{
	background: #006FFF;
	
}

td.odd{
	background: #AEAEAE;
}

td.even{
	background: #D2B48C;
}
